.NewFilm-editFilm {
   margin-right: 15px;
   height: 25px;
   padding-left: 10px;
   border-radius: 10px;
   border: 2px solid lightgreen;
   font-size: 15px;
}
.NewFilm-Form {
   margin-bottom: 10px;
}
.NewFilm-remove {
   height: 20px;
   width: 25px;
   border-radius: 10px;
   border: none;
   font-weight: bold;
   background: goldenrod;
}