.SwitchApp {
   width: 20%;
   text-align: center;
   border-radius: 10px;
   border: 1px solid;
   margin: 30px auto 0;
   padding-top: 10px;
   padding-bottom: 25px;
}
.toDoListForm {
   border-bottom: 1px solid;
   padding-bottom: 15px;
}