.AddTaskForm {
    margin-bottom: 30px;
    margin-top: 30px;
    border: 2px solid #3a36ff;
    border-radius: 5px;
    padding: 30px;
    overflow: hidden;
}
.AddBtn {
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    background: #3a36ff;
    float: right;
    color: #fff;
    text-transform: uppercase;
}
.AddTask {
    padding: 8px 15px;
    border-radius: 5px;
    border: 2px solid #5fcdff;
    float: left;
}