.Add {
   height: 30px;
   width: 50px;
   margin-left: 15px;
   border-radius: 10px;
   border: none;
   font-weight: bold;
   cursor: pointer;
}
.AddForm {
   margin-bottom: 10px;
   margin-top: 10px;
   border-bottom: 2px solid;
   padding-bottom: 20px;
}
.EnterText {
   height: 25px;
   width: 150px;
   border-radius: 10px;
   border: 2px solid goldenrod;
   padding-left: 10px;
}
.Back {
   float: left;
   height: 32px;
   cursor: pointer;
   width: 70px;
   margin-left: 15px;
   border-radius: 10px;
   border: none;
   font-weight: bold;
}
